* {
    margin: 0;
    padding: 0;
}

#div1 {
    width: 100%;
    position: relative;
    color: aliceblue;
}
#div3{
    height: 545px;
    background-color:rgba(31, 11, 11, 0.708);
    /* box-shadow: 5px 5px 5px 5px rgb(4, 32, 6); */
    border-radius: 5%;
    padding: 5%;
}

#f{
    width: 60%;
    margin: 5% 10% 10% 20%;
    position: absolute;
    top: 0%;
    padding: 0% 5% 0% 5%;
}

.row
{
    padding: 1%;
}