*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
#submit01{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 50px;
}
#div1{
    position: relative;
}
#allinfo{
    width: 30%;
    padding: 50px 25px 20px 25px ;
    height: 350px;
    background-color:  #ee23b136;
    position: absolute;
    top: 18%;
    left: 10%;
    border-radius: 25px;
}