*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.box
{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%,-50%);
}
.con
{
    background-color: rgb(6, 6, 74);
    padding: 20px 15px 15px 15px;
    color: white;   
}
#imgdiv{
    position: relative;
    text-align: center;
}
#posdivHead{
    position: absolute;
    top: 5%;
    left: 14%;
    padding: 0px 15px 0 15px;
    background-color: rgba(55, 55, 69, 0.553);
    color: white;
    border-radius: 50px;
}
#posdivHead:hover{
    position: absolute;
    top: 5%;
    left: 14%;
    padding: 0px 15px 0 15px;
    background-color: rgb(20, 20, 21);
    color: rgba(255, 255, 255, 0.731);
    border-radius: 70px;
}
.posdiv1{
    position: absolute;
    top: 17%;
    left: 0%;
    padding: 0px 0px 0 15px;
}
.posdiv2{
    position: absolute;
    top: 39%;
    left: 0%;
    padding: 0px 0px 0 15px;
}
.posdiv3{
    position: absolute;
    top: 60%;
    left: 0%;
    padding: 0px 0px 0 15px;
}
.posdiv4{
    background-color: #5f9ea0b1;
    position: absolute;
    height: 150px;
    bottom: 0%;
    left: 0%;
    padding: 0px 0px 0 15px;
}